/*ProductList.php*/
body{
    margin: 6%;
}
.product {
    border: 2px solid gray;
    width: 20%;
    height: 1%;
    text-align: center;
    margin: 2%;
    position: relative;
    float: left;
    background-color:#ffffff;
    box-shadow: 0 8px 6px -6px #999;
}
.product:hover {
    background-color: darkkhaki;
    box-shadow: 0 18px 22px -6px crimson;
}

.SKU {
    color: cornflowerblue;
    font-size: 130%;
}
.Price {
    color: crimson;
    font-size: 110%;
}

p {
    margin: 0%;
    padding: 1%;
}
input[type=checkbox]:checked + label {
    color: darkmagenta;
    font-weight: bold;
}
.checkbox {
    position: relative;
    float: left;
}
select#dropType {
    width: 140px;
    height: 34px;
}
.actions {
    width: 86%;
}
#dropType {
    position: relative;
    float: left;
    width: 20%;
    height: 50%;
}
#ad {
    border: 2px solid gray;
    height: 34px;
    width: 100px;
    margin: 0;
    background-color: aquamarine;
}


/*Add.php*/
.bodyAdd{
    background-image: url("http://p1.pichost.me/i/71/1954154.png");
}

.productSave{
    border: 2px solid;
    margin: 10% 37% 25% 38%;
    padding: 2%;
    background-color: white;
    border-radius: 5%;

}

input {
    margin: 2%;
    padding: 2%;
}

form {
    padding-top: 4%;
    text-align: right;


}
.block .tooltiptext{
    visibility: hidden;
    width: 20%;
    height: 20%;
    background-color: darkslateblue;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    margin: 80% 2% 2% 2%;
    padding: 2%;

}
.block:hover .tooltiptext{
    visibility: visible;
}


.savebtn {
    margin: 2%;
    width: 40%;
    height: 110%;
   
}